@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Carter+One&family=Inconsolata:wght@300;400&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500&display=swap');
/*
font-family: 'Barriecito', cursive;
font-family: 'Carter One', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Righteous', cursive;
*/


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 50,5%;
}

:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107 opacity 0,6;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

body, html{
  margin: 0;
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-contorno-abstrato-desenhado-a-mao_23-2150627646.jpg?w=1380&t=st=1692151994~exp=1692152594~hmac=25681cd70652f423814a651229625bdb05bee3ce66e78e749bd3a5215afcb695);
}

.container {
    

}

.background {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-image: linear-gradient(180deg, rgb(247, 247, 12) 40%, transparent, gray), url(../images/fundostart.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;

}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: black;
  align-items: center;
}

.header img {
  width: 40%;
  height: 100%;
  
}

.header_tel {
  background-color: rgb(30, 244, 80);
  font-family: 'Gabarito', sans-serif;
  border-right: solid white 2px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
}

.tel_icon {
  color: rgb(255, 255, 255);
}

.container_wpp_button {
  width: 200px;
  height: 60px;
  background-color: #17a2b8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_wpp_button button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color: #008000;
}

.start {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  
}

.start_img {
  width: 40%;
  height: 540px;
  margin-top: 56px;
  display: flex;
  background-color: transparent;
}

.start_img img {
  width: 100%;
  height: 100%;
  margin-top: 48.5px;
  object-fit: cover;
}

.text_start {
  width: 60%;
  height: 89.5%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gabarito', sans-serif;
  font-size: 50px;
}























.parallax_form{
    /* Imagem usada */
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-azul-de-memphis-com-meios-tons-e-elementos-de-linha_1017-33622.jpg?w=826&t=st=1699288033~exp=1699288633~hmac=f9f1d8e629e66567332f4bff1c3f845241960ef0f4add890e8205a4df5756fd9);
    /* Define o tamanho minimo da imagem */
    min-height: 600px;
    /* Cria o efeito de Scroll Parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form_header{
    height: 100px;
    width: 80%;
    font-size: 28px;
    color: white;
    gap: 7px;
    display: flex;
    align-items: center;
}

.title{
    width: 314px;
    height: 55px;
    border-bottom: 2px solid white ;
}

.form_header a{
    font-size: 15px;
    color: white;
    padding-top: 53px;
    text-decoration: none;
}

form{
    width: 80%;
    height: 400px;
    background-color: transparent;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.form__input {
    color: #ffffff;
    font-size: 1.2rem;
    background-color: transparent;
    width: 400px;
    height: 60px;
    display: flex;
    border-bottom: 1px solid black;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    transition: all 0.3s;
}

.form__label {
  font-size: 1.0rem;
  font-size: 1.2rem;
  margin-left: 0.4rem;
  margin-top: 0.2rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input:placeholder-shown + .form__label {
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: translateY(-2rem);
  transform: translateY(-2rem);
}


.rodape{
  width: 100%;
  height: 400px;
  display: flex;  
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;  
}

.container_alinhamento{
  background-color: rgb(0, 0, 0);
  width: 90%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.conteudo_rodape{
  background-color: rgb(0, 0, 0);
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: 0px;
  align-items: center;
  gap: 60px;
}

.lista1{
  font-family: 'Poltawski Nowy', serif;
  font-size: 20px;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  letter-spacing: -1px;
}

.textl2{
  font-family: 'Poltawski Nowy', serif;
  color: white;
  font-size: 25px;
}
.lista2{
  font-family: 'Poltawski Nowy', serif;
  font-size: 15px;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  letter-spacing: -1px;
}
.lista3{
  font-family: 'Poltawski Nowy', serif;
  font-size: 15px;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  letter-spacing: -1px;
}
.icons{
  width: 250px; 
  height: 200px;
  background-color: rgb(0, 0, 0);
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.texticons{
  background-color: rgb(0, 0, 0);
  font-family: 'Poltawski Nowy', serif;
  font-size: 22px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons2{
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 200px;
  height: 80px;
}
.imgicons{
  margin-top: 20px;
  width: 40px;
  height: 40px;
}

.iconsre{
  width: 40px;
  height: 40px;
}

.linha-horizontal {
  height: 0.1px;
  width: 1200px;
  background-color: rgb(194, 191, 191);
  margin: 0px 0;
}

.underline{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.pais{
  font-size: 14px;
  color: white;
  letter-spacing: px;
  font-family: 'Poltawski Nowy', serif;



}
.PDP{
  font-size: 13px;
  color: white;
  font-family: 'Poltawski Nowy', serif;
}
.TDU{
  font-size: 13px;
  color: white;
  font-family: 'Poltawski Nowy', serif;
}
.direitos{
  font-size: 13px;
  color: rgb(194, 191, 191);
  margin-left: 70px;
  
}

a:link{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:visited{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover{
  color: rgb(194, 191, 191);
  text-decoration: none;
} 