@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Carter+One&family=Inconsolata:wght@300;400&family=Righteous&display=swap');
/*
font-family: 'Barriecito', cursive;
font-family: 'Carter One', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Righteous', cursive;
*/


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 50,5%;
}

:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

body, html{
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-contorno-abstrato-desenhado-a-mao_23-2150627646.jpg?w=1380&t=st=1692151994~exp=1692152594~hmac=25681cd70652f423814a651229625bdb05bee3ce66e78e749bd3a5215afcb695);
}


.parallax_form{
    /* Imagem usada */
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-preto-com-textura-de-papel-amora_53876-129708.jpg?w=1380&t=st=1692147857~exp=1692148457~hmac=f62f96a125f1df5d5a4823054b5260978f26e93743cdc2609e01f522c84906c6;);
    /* Define o tamanho minimo da imagem */
    min-height: 600px;
    /* Cria o efeito de Scroll Parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form_header{
    height: 100px;
    width: 80%;
    font-size: 28px;
    color: white;
    gap: 7px;
    display: flex;
    align-items: center;
}

.title{
    width: 314px;
    height: 55px;
    border-bottom: 2px solid white ;
}

.form_header a{
    font-size: 15px;
    color: white;
    padding-top: 53px;
    text-decoration: none;
}

form{
    width: 80%;
    height: 400px;
    background-color: aqua;
    
    gap: 10px;
}

.form__input {
    color: #333;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 400px;
    height: 60px;
    display: flex;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.form__label {
  font-size: 1.2rem;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input:placeholder-shown + .form__label {
  opacity: 1;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
